#DEFINE DSS_CAPI
#DEFINE DSS_CAPI_MVMULT
-Mdelphi
-Pi386
-FUbuild/units_v8_x86
-Fd 
-Fi./Version8/Source/CMD
-Fu./Version8/Source/Controls 
-Fu./Version8/Source/Executive 
-Fu./Version8/Source/General 
-Fu./Version8/Source/Meters 
-Fu./Version8/Source/Parser 
-Fu./Version8/Source/PCElements 
-Fu./Version8/Source/PDElements 
-Fu./Version8/Source/Shared 
-Fu./Version8/Source/Common 
-Fu./Version8/Source/CMD
-Fu./Version8/Source/Parallel_Lib
-Fu./src
-Fllib/win_x86
-FElib/win_x86
-Scghi
-O3
-l 
-vew
-WB
-vm5025,5027,5029,9001
