#DEFINE DSS_CAPI
#DEFINE DSS_CAPI_MVMULT
#DEFINE DSS_CAPI_HASHLIST
#DEFINE DSS_CAPI_INCREMENTAL_Y
-Mdelphi
-Px86_64
-FUbuild/units_v7_x64
-Fd 
-Fi./Version7/Source/CMD
-Fu./Version7/Source/Controls 
-Fu./Version7/Source/Executive 
-Fu./Version7/Source/General 
-Fu./Version7/Source/Meters 
-Fu./Version7/Source/Parser 
-Fu./Version7/Source/PCElements 
-Fu./Version7/Source/PDElements 
-Fu./Version7/Source/Shared 
-Fu./Version7/Source/Common 
-Fu./Version7/Source/CMD
-Fu./src
-Fllib/linux_x64
-FElib/linux_x64
-Scghi
-CF64
-Cg
-O3
-l 
-vew
-Tlinux
-k-lc 
-k-lm 
-k-Llib/linux_x64
-k-lklusolve
-k-R$ORIGIN/.
-sh
