#DEFINE DSS_CAPI
#DEFINE DSS_CAPI_MVMULT
#DEFINE DSS_CAPI_HASHLIST
#DEFINE DSS_CAPI_DEBUG_BUILD
-Mdelphi
-Pi386
-FUbuild/units_v7_x86
-Fd 
-Fi./Version7/Source/CMD
-Fu./Version7/Source/Controls 
-Fu./Version7/Source/Executive 
-Fu./Version7/Source/General 
-Fu./Version7/Source/Meters 
-Fu./Version7/Source/Parser 
-Fu./Version7/Source/PCElements 
-Fu./Version7/Source/PDElements 
-Fu./Version7/Source/Shared 
-Fu./Version7/Source/Common 
-Fu./Version7/Source/CMD
-Fu./src
-Fllib/win_x86
-FElib/win_x86
-Scghi
-CF64
-Si
-O1
-g
-gw3
-gostabsabsincludes
-godwarfmethodclassprefix
-l 
-vew
-WB
