#DEFINE DSS_CAPI
#DEFINE DSS_CAPI_MVMULT
#DEFINE DSS_CAPI_HASHLIST
#DEFINE DSS_CAPI_INCREMENTAL_Y
-Mdelphi
-Px86_64 
-FUbuild/units_v7_x64
-Fd 
-Fi./src/CMD
-Fu./src/Controls 
-Fu./src/Executive 
-Fu./src/General 
-Fu./src/Meters 
-Fu./src/Parser 
-Fu./src/PCElements 
-Fu./src/PDElements 
-Fu./src/Shared 
-Fu./src/Common 
-Fu./src/CMD
-Fu./src/Parallel_Lib
-Fu./src/CAPI
-Fu./src
-Fllib/win_x64
-FElib/win_x64
-Scghi
-Ct
-O3
-l 
-vew
-WB
-vm5025,5027,5029,9001
